@media screen and (width >= 1200px) {
    #game {
        height: 100vh;
    }

    .units {
        height: 80%;
    }

    #units_select {
        padding: 2vh 2vw;
        gap: 1.5vw;
        font-size: 2vw;
    }

    unit-card {
        aspect-ratio: 3 / 4;
        background-size: contain;
    }

    .units-select > .unit {
        width: 10%;
        cursor: pointer;
    }

    unit-card > div > span {
        padding-bottom: 2vh;
    }

    .field {
        flex: 1;
    }

    .units-field {
        flex: 3;
    }

    .units {
        height: 50%;
        gap: 5vw;
    }

    .units > div > unit-card {
        width: 100%;
    }

    .units > .card {
        font-size: 2vw;
    }

    .units > div {
        width: 18vw;
    }
}

@media (width < 1200px) {

}