.flex-1 {
    flex: 1;
}

div:has(> .highlighted) {
    position: relative;
    z-index: 11;
}

div:has(> .highlighted) > *:not(.highlighted) {
    filter: brightness(0.3);
}

.highlighted {
    cursor: pointer;
}

.selected {
    z-Index: 11;
}

@media screen and (width >= 1200px) {
    #game {
        height: 100vh;
    }

    #units_select {
        font-size: 1.7vw;
    }

    unit-card {
        aspect-ratio: 3 / 4;
        background-size: contain;
    }

    .units-select > div {
        display: flex;
        flex: 1;
    }

    .units-select > div > .unit {
        cursor: pointer;
    }

    unit-card > div > span {
        padding-bottom: 2vh;
    }

    .field {
        flex: 1.5;
    }

    .units {
        height: 50%;
        gap: 5vw;
    }

    .units > div > unit-card {
        width: 100%;
    }

    .units > .card {
        font-size: 2vw;
    }

    .units > div {
        width: 18vw;
    }

    .empty-stack {
        aspect-ratio: 7 / 10;
        border: 0.15vw dashed;
    }

    .hand {
        height: 90%;
    }

    #attack_btn {
        height: 5vh;
    }

    #overlays {
        z-index: 10;
    }

    .dice-container {
        display: flex;
        height: 75%;
        justify-content: center;
        align-items: center;
    }
    
    #dice {
        height: 30%;
        aspect-ratio: 820 / 980;
        background-image: url("assets/d20.png");
        background-size: contain;
        align-content: center;
        text-align: center;
        font-weight: bolder;
        font-size: 3vh;
        color: black;
        cursor: pointer;
    }

    #message {
        position: relative;
        bottom: 90vh;
        color: black;
        background: #ffffff80;
    }

    #cancel-action-btn {
        height: 4vh;
        top: 48%;
        left: 37.5%;
    }

    #cancel-action-btn.cancel-roll {
        top: 63.5%;
    }
}

@media (width < 1200px) {

}